<div class="container">
  <h2>Enter Booking Details:</h2>
  <br />
  <form class="form-inline" method="post" action="">
    <div class="row mb-3">
      <div class="form-group col-sm mb-2">
        <label for="checkIn">Check-in date: </label>
        <input type="date" name="checkIn" />
      </div>
      <div class="form-group col-sm mb-2">
        <label for="checkOut">Check-out date: </label>
        <input type="date" name="checkOut" />
      </div>
      <div class="form-group form-inline col-sm">
        <label for="roomType"> Room Type: </label>
        <select id="roomType" class="form-control-sm" name="roomType">
          <option selected>Choose room type</option>
          <option value="single">Single</option>
          <option value="deluxe">Deluxe</option>
          <option value="suite">Suite</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label for="roomsNum">No. of Rooms: </label>
        <input name="roomNum" type="number" style="width: 30%" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-group col-sm">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" placeholder="Full Name" />
      </div>
      <div class="form-group form-inline col-sm">
        <label for="gender"> Gender: </label>
        <select id="gender" class="form-control-sm" name="gender">
          <option selected>Choose gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="NAN">Prefer not to say</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label for="age">Age: </label>
        <input id="age" type="number" name="age" style="width: 30%" />
      </div>
      <div class="form-group form-inline col-sm">
        <label for="contact">Contact Number: </label>
        <input id="contact" type="tel" name="contact" />
      </div>
    </div>
    <div class="form-group col-sm mb-5">
      <label for="email">Email id: </label>
      <input id="email" type="email" name="email" />
      <button class="btn btn-outline-dark btn-sm" style="margin-left: 2rem">
        Add Booking
      </button>
    </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Booking ID</th>
        <th scope="col">Guest Name</th>
        <th scope="col">Check-in Date</th>
        <th scope="col">Check-out Date</th>
        <th scope="col">Booked room</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let index of guest">
        <th scope="row">{{ index.bookid }}</th>
        <td>{{ index.name }}</td>
        <td>{{ index.checkin }}</td>
        <td>{{ index.checkout }}</td>
        <td>{{ index.roomType }}</td>
      </tr>
    </tbody>
  </table>
</div>
