<div class="bookingform container-fluid">
  <h2 class="bookingHeader">Enter Booking information</h2>
  <form action="" (ngSubmit)="onSubmit(bookingForm)" #bookingForm="ngForm">
    <div class="form-group inlined">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        pattern="[A-Z\sa-z]{3,20}"
        placeholder="Fatima"
        required
        ngModel
      />
    </div>
    <div class="form-group inlined">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        pattern="[A-Z\sa-z]{3,20}"
        placeholder="Doe"
        required
        ngModel
      />
    </div>

    <div class="form-group inlined">
      <label for="email">Email id</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="fathima.doe@email.com "
        required
        ngModel
      />
    </div>

    <div class="form-group inlined">
      <label for="phone">Contact Number</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="1453280968"
        required
        ngModel
      />
    </div>

    <div class="form-group inlined">
      <label for="checkIn">Check-in Date</label>
      <input type="date" id="checkIn" name="checkIn" required ngModel />
    </div>
    <div class="form-group inlined">
      <label for="checkOut">Check-out Date</label>
      <input type="date" id="checkOut" name="checkOut" required ngModel />
    </div>
    <div class="form-group inlined">
      <label for="roomType">Room Type: </label>
      <select
        id="roomType"
        name="roomType"
        class="form-control-sm"
        required
        ngModel
      >
        <option value="">Room Type</option>
        <option value="single">Single</option>
        <option value="deluxe">Deluxe</option>
        <option value="suite">Suite</option>
      </select>
    </div>
    <button class="btn btn-outline-dark inlined">Add Booking</button>
  </form>
  <hr />
</div>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col">Guest Name</th>
        <th scope="col">Check-in Date</th>
        <th scope="col">Check-out Date</th>
        <th scope="col">Booked room</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <th scope="row">{{ booking.name }}</th>

        <td>{{ booking.bookingInfo.check_in }}</td>
        <td>{{ booking.bookingInfo.check_out }}</td>
        <td>{{ booking.bookingInfo.roomType }}</td>
        <td>
          <button class="fa fa-edit edit"></button>
          <button class="fa fa-trash delete"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
