.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
  margin-top: 10%;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.login-wrap h3 {
  font-weight: 700;
  font-size: 20px;
  color: #420440;
}
.login-wrap .icon {
  width: 80px;
  height: 80px;
  background: #420440;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.login-wrap .icon span {
  color: #fff;
}

.form-control {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  border-radius: 40px;
  background-color: #420440;
  border: #420440;
  color: #fff;
  font-size: 15px;
}
