<div>
    <table class="table table-striped text-center fs-4 pt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Room</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>asgrg</td>
                <td>srgw</td>
                <td>arg</td>
                <td>wrg</td>
                <td>yhwrht</td>
            </tr>
        </tbody>
    </table>
</div>