<div class="min-vh-100 d-flex flex-column align-items-center text-white bg-dark" style="width: 300px;">
  <div style="height:100px"></div>
    <div class="p-3 mt-5">
      <a routerLink="/dashboard" class="mb-3 text-white text-decoration-none">
        <h3 class="spaced text-uppercase text-center font-weight-bold">Hotel Management</h3>
      </a>
    </div>
    <div style="height:200px"></div>
    <div class="mb-auto w-100 p-3 text-center">
        <ul class="list-unstyled">
            <li><a routerLink="guests" routerLinkActive="active" class="text-decoration-none text-white">Guests</a></li>
            <li><a routerLink="rooms" class="text-decoration-none text-white">Rooms</a></li>
            <li><a routerLink="bookings" class="text-decoration-none text-white">Bookings</a></li>
            <li><a routerLink="inventory" class="text-decoration-none text-white">Inventory</a></li>
            <li><a routerLink="staff" class="text-decoration-none text-white">Staff</a></li>
        </ul>
    </div>
</div>