<div id="staff" class="text-center">
  <div id="staffHeader">
    <h1 class="font-weight-bold">Hotel Staff</h1>
  </div>
  <div id="content">
    <div
      id="staffCard"
      class="card mx-auto border text-center border-1"
      *ngFor="let staff of staffs"
    >
      <div id="details" class="text-left">
        <strong>Staff id :</strong>{{ staff._id }} <br />
        <strong>Name :</strong>{{ staff.name }} <br />
        <strong>Designation :</strong>{{ staff.designation }} <br />
        <strong>Gender :</strong>{{ staff.gender }} <br />
        <strong>Date of Joining :</strong>{{ staff.dateOfJoining }} <br />
      </div>
    </div>
  </div>
</div>
