<div id="staff" class="text-center">
  <div id="staffHeader">
    <h1 class="font-weight-bold">Hotel Staff</h1>
  </div>
  <div id="content">
    <div
      id="staffCard"
      class="card mx-auto border text-center border-1"
      *ngFor="let index of staff"
    >
      <div id="details" class="text-left">
        <strong>Staff id :</strong>{{ index.id }} <br />
        <strong>Name :</strong>{{ index.name }} <br />
        <strong>Designation :</strong>{{ index.designation }} <br />
        <strong>Gender :</strong>{{ index.gender }} <br />
        <strong>Date of Joining :</strong>{{ index.doj }} <br />
      </div>
    </div>
  </div>
</div>
