<div class="d-flex flex-wrap justify-content-around p-5">
    <div class="card" style="width: 500px;">
        <img class="class-image-top" src="../../assets/images/big-bed.jpg">
        <div class="card-body">
            <h3>Title</h3>
            <p>Something about the room</p>
        </div>
    </div>
    <div class="card" style="width: 500px;">
        <img class="class-image-top" src="../../assets/images/big-bed.jpg">
        <div class="card-body">
            <h3>Title</h3>
            <p>Something about the room</p>
        </div>
    </div>
    <div class="card" style="width: 500px;">
        <img class="class-image-top" src="../../assets/images/big-bed.jpg">
        <div class="card-body">
            <h3>Title</h3>
            <p>Something about the room</p>
        </div>
    </div>
    <div class="card" style="width: 500px;">
        <img class="class-image-top" src="../../assets/images/big-bed.jpg">
        <div class="card-body">
            <h3>Title</h3>
            <p>Something about the room</p>
        </div>
    </div>
    <div class="card" style="width: 500px;">
        <img class="class-image-top" src="../../assets/images/big-bed.jpg">
        <div class="card-body">
            <h3>Title</h3>
            <p>Something about the room</p>
        </div>
    </div>
</div>